/* Component styles are dynamically loaded via JavaScript */
/* Add any EDS-specific Component overrides here if needed */

.promo-banner-wrapper .highlight-color-primary .pb-title em,
.promo-banner-wrapper .highlight-color-primary .pb-title u {
  color: var(--lds-g-color-brand-1);
}

.promo-banner-wrapper .highlight-color-secondary .pb-title em,
.promo-banner-wrapper .highlight-color-secondary .pb-title u {
  color: var(--lds-g-color-palette-blue-080);
}

.promo-banner-wrapper .pb-title * {
  font: var(--lds-g-font-family-serif) !important;
  font-family: var(--lds-g-font-family-serif) !important;
}

@media (width <= 768px) {
  .promo-banner-container.pb-align-center,
  .promo-banner-container.pb-align-left,
  .promo-banner-container.pb-align-right {
    display: flex;
    flex-direction: column;
    gap: var(--lds-g-spacing-200) !important;
  }
}
