/* Component styles are dynamically loaded via JavaScript */
/* Add any EDS-specific Component overrides here if needed */
.text-desc :is(h1, h2, h3, h4, h5, h6) + p {
  margin-top: var(--lds-g-spacing-300);
}

/* Gap between description and footnote */
.text-desc + .footnote-items {
  margin-top: 24px;
}

@media (min-width: 768px) {
  .text-desc + .footnote-items {
    margin-top: 48px;
  }
}
