/* Component styles are dynamically loaded via JavaScript */
/* Add any EDS-specific Component overrides here if needed */
.additional-links .link-container {
  padding-bottom: var(--lds-g-spacing-400);
  padding-top: var(--lds-g-spacing-400);
}

.additional-links .link-container .headline {
  padding-bottom: var(--lds-g-spacing-0) !important;
  padding-top: var(--lds-g-spacing-0) !important;
}
